<form novalidate class="card-offer-form" [formGroup]="group">
  <mat-form-field class="card-offer-form-full-width">
    <input matInput placeholder="Offer Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="card-offer-form-full-width">
    <mat-select placeholder="Card Type" formControlName="type">
      <mat-option *ngFor="let cardType of cardTypes" [value]="cardType">
        {{ cardType }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="card-offer-form-full-width">
    <input matInput placeholder="Cashback(%)" formControlName="cashback">
  </mat-form-field>

  <mat-form-field class="card-offer-form-full-width">
    <mat-select placeholder="Currency" formControlName="currency">
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{ currency }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="card-offer-form-full-width">
    <input matInput placeholder="TTL" formControlName="ttlMonth">
  </mat-form-field>

  <mat-form-field class="card-offer-form-full-width">
    <textarea matInput placeholder="Some card details..." formControlName="details">
    </textarea>
  </mat-form-field>

  <section class="card-offer-form-full-width">
    <button mat-raised-button color="primary"
        (click)="create()"
        [disabled]="group.invalid">Create</button>
    <button mat-raised-button (click)="back()">Back</button>
  </section>

</form>
