<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="currency">
      <mat-header-cell *matHeaderCellDef> Currency </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.currency}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.amount}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="commision">
      <mat-header-cell *matHeaderCellDef> Commision </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.commision}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="from">
      <mat-header-cell *matHeaderCellDef> From Account </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.from}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="to">
      <mat-header-cell *matHeaderCellDef> To Account </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.to}} </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button mat-raised-button
      routerLink="form"
      color="primary">Create New Account</button>
</div>
