<mat-horizontal-stepper linear="true" class="card-form full">
  <mat-step class="full">
    <ng-template matStepLabel>Choose card offer</ng-template>

    <mat-card *ngFor="let offer of offers | async" class="offer-card">
      <mat-card-title>{{offer.name}}</mat-card-title>
      <mat-card-subtitle>{{offer.type}}</mat-card-subtitle>
      <mat-card-content>
        <h3 mat-line>Cashback: {{offer.cashback}} %</h3>
        <title mat-line>Details</title>
        <p>
          {{offer.details}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
            matStepperNext
            (click)="setOffer(offer)">NEW</button>
      </mat-card-actions>
    </mat-card>

  </mat-step>

  <mat-step [stepControl]="group">
    <ng-template matStepLabel>Choose currency</ng-template>

    <form [formGroup]="group">
      <mat-form-field>
        <input matInput placeholder="Card Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Currency" formControlName="currency">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary"
          matStepperNext
          (click)="create()"
          [disabled]="group.invalid">Next</button>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p mat-line>You card is ready!</p>
  </mat-step>

</mat-horizontal-stepper>
