<form novalidate class="full" [formGroup]="group">
  <mat-form-field>
    <input matInput placeholder="Currency Name" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number"
        min="1"
        placeholder="Koef (dep BYN)" formControlName="koef">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number"
        min="1"
        placeholder="Sale (BYN)" formControlName="sale">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number"
        min="1"
        placeholder="Purchase (BYN)" formControlName="purchase">
  </mat-form-field>

  <section >
    <button mat-raised-button color="primary"
        (click)="create()"
        [disabled]="group.invalid">Create</button>
    <button mat-raised-button (click)="back()">Back</button>
  </section>

</form>
