<form novalidate class="user-form" [formGroup]="group">
  <mat-form-field class="user-form-full-width">
    <input matInput placeholder="Your User Name" formControlName="username">
  </mat-form-field>

  <mat-form-field class="user-form-full-width">
    <input matInput placeholder="First Name" formControlName="first_name">
  </mat-form-field>

  <mat-form-field class="user-form-full-width">
    <input matInput placeholder="Last Name" formControlName="last_name">
  </mat-form-field>

  <mat-form-field class="user-form-full-width">
    <input matInput placeholder="City" formControlName="city_name">
  </mat-form-field>

  <mat-form-field class="user-form-full-width">
    <input matInput placeholder="Adress" formControlName="adress">
  </mat-form-field>

  <section class="user-form-full-width">
    <mat-checkbox formControlName="isAdmin">
      Super User Access
    </mat-checkbox>
  </section>

  <mat-form-field class="user-form-full-width">
    <input matInput placeholder="Your Password" formControlName="password">
  </mat-form-field>

  <section class="user-form-full-width">
    <button mat-raised-button color="primary"
        (click)="create()"
        [disabled]="group.invalid">Create</button>
    <button mat-raised-button (click)="back()">Back</button>
  </section>

</form>
