<form novalidate class="user-login-form" [formGroup]="user">
  <mat-form-field class="user-login-form-full-width">
    <input matInput placeholder="Your User Name" formControlName="username">
  </mat-form-field>

  <mat-form-field class="user-login-form-full-width">
    <input matInput placeholder="Your Password" formControlName="password">
  </mat-form-field>

  <section class="user-login-form-full-width">
    <button mat-raised-button color="primary"
        (click)="login()"
        [disabled]="user.invalid">Sign in</button>
  </section>

</form>
