<form novalidate class="user-form" [formGroup]="user">
  <mat-form-field class="user-form-full-width">
    <input matInput placeholder="Your User Name" formControlName="username">
  </mat-form-field>

  <section class="user-form-full-width">
    <mat-checkbox formControlName="isAdmin">
      Super User Access
    </mat-checkbox>
  </section>

  <mat-form-field class="user-form-full-width">
    <input matInput placeholder="Your Password" formControlName="password">
  </mat-form-field>

  <section class="user-form-full-width">
    <button mat-raised-button color="primary"
        (click)="create()"
        [disabled]="user.invalid">Create</button>
    <button mat-raised-button (click)="back()">Back</button>
  </section>

</form>
